[Unit]
Description=Voting HTTP Gateway
After=network.target voting-tcp.service

[Service]
WorkingDirectory=/home/VotingSystem
ExecStart=/usr/bin/python3 /home/VotingSystem/HTTPGateway.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
